body {
/*	background-image: url("http://favim.com/orig/201108/04/bedroom-closet-clothes-fashion-walk-in-closet-Favim.com-120026.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .85;*/
}

#title {
/*	margin-left: 30%;
	margin-top: 30%;
	font-family: 'Lobster', cursive;
	font-size: 75pt;*/
	color: black;
}

#sign_in {
	/*margin-left: 50%;*/
}

.container {
	width: 100%;
}

#searchbar {
	text-align: center;
	/*margin: auto;*/
	/*border: solid;*/
}

.dashboard {
	text-align: center;
	/*border: dashed;*/

}

* {
	outline: solid 1px;
}