body {
	background-image: url("http://favim.com/orig/201108/04/bedroom-closet-clothes-fashion-walk-in-closet-Favim.com-120026.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.75;
}